ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0b0023;
}



li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-underline: none;
}

li a:hover {
    background-color: #8424c9;
    text-decoration: none !important;
    color: white;
}

.support {
    height: 250px;
    background: #8fd8f1;
}

.redBorder {

}


.boxes {
    position: relative;
    float: left;
    margin-left: 12%;
    height : 150px;
    width: 150px;
    border: 1px solid #c92424;
    background-color: #8424c9;
    margin-top: -3.5%;
}

.boxes-fire {
    position: relative;
    float: left;
    margin-left: 12%;
    height : 150px;
    width: 150px;
    border: 1px solid #c92424;
    background-color: #c92424;
    margin-top: -3.5%;
}

.boxes-flood {
    position: relative;
    float: left;
    margin-left: 12%;
    height : 150px;
    width: 150px;
    border: 1px solid #336eda;
    background-color: #336eda;
    margin-top: -3.5%;
}


.boxes-cyclone {
    position: relative;
    float: left;
    margin-left: 12%;
    height : 150px;
    width: 150px;
    border: 1px solid #c5c5c5;
    background-color: #c5c5c5;
    margin-top: -3.5%;
}

.boxes-hurricane {
    position: relative;
    float: left;
    margin-left: 12%;
    height : 150px;
    width: 150px;
    border: 1px solid #ad4c07;
    background-color: #ad4c07;
    margin-top: -3.5%;
}


.boxes-1 {
    position: relative;
    float: left;
    margin-left: 18%;
    height : 150px;
    width: 150px;
    border: 1px solid;
    background-color: #8424c9;
    margin-top: -3.5%;
}

.links {
    font-family: monospace;
    font-size: 19px;
}

.box-text {
    color: white;
}

.heading{
    color: white;
    margin-left: 300px;
    margin-top: 10px;
    font-size: 25px;
    font-family: monospace;
}

.message{
    position: relative;
    margin-top: 1%;
}

.message-1{
    position: relative;
    margin-top: 15%;
}

.city{
    height:100%;
    width:100%;
    object-fit-width: cover;
}

.shelter-box {
    height: 100px;
    width: 50%;
    border: 1px solid;
    margin-left: 25%;
    margin-top: 25px;
    background: #8424c9;

}

.shelter-text {
    margin-top: 50px;
    color: #8424c9;
}

.shelter-left {
    float: left;
    width: 100px;
    height: 100%;
    margin: 0px;
    padding-left: -3px;

}

.shelter-right {
    float: left;
    width: 350px;
    height: 100%;
    margin-left: 5px;


}

.shelter-inner {
    color: white;
    text-align: left;
}

.graph1{
    position: relative;
    height: 250px;
    width: 75%;
}

.graph2{
    position: relative;
    height: 250px;
    width: 75%;
    margin-top: 2%;
}

.right-feed {
    float: right;
    position: relative;
    background-color: #dbdbdb;
    width: 18.5%;
    height: 500px;
    margin-top: -33.5%;
    margin-right: 2.75%;
    overflow-y: scroll;
    box-shadow: 4px 4px 4px #b2b2b2;
}

.each-live {
    height: 100px;
    width: 96%;
    margin: 2%;
    background-color: white;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #efefef;
}

.each-live-left {
    float: left;
    width: 32.5%;
    height: 100%;
    background-image: url("./../photos/facebook.png");
    background-size: 100% 100%;
}

.each-live-right {
    float: left;
    width: 67%;
    height: 100%;
    overflow-wrap: break-word;
    font-size: 12.5px;
}

.each-live-twitter {
    height: 100px;
    width: 96%;
    margin: 2%;
    text-align: left;
    overflow-y: scroll;
    font-size: 12.5px;
    color: #210b42;
    border: 0.5px solid black;
    background-image: url("./../photos/twitter.jpg");
    background-size: 100% 100%;
    opacity: 0.8;
}

.each-live-facebook {
    height: 100px;
    width: 96%;
    margin: 2%;
    text-align: left;
    overflow-y: scroll;
    font-size: 12.5px;
    color: white;
    border: 0.5px solid black;
    background-image: url("./../photos/facebook.png");
    background-size: cover;
    opacity: 0.8;
}

.each-live-helpline {
    height: 100px;
    width: 96%;
    margin: 2%;
    text-align: left;
    overflow-y: scroll;
    font-size: 12.5px;
    color: #7f4141;
    border: 0.5px solid black;
    background-image: url("./../photos/helpline.svg");
    background-size: 100% 100%;
    opacity: 0.8;
}

.counter {
    position: relative;
    height: 125px;
}

.top20 {
    padding-top: 30px;
}

.update-1 {
    float: right;
    height: 125px;
    width: 125px;
    margin-top: -50px;
    margin-right: 40px;
    background: #8424c9;
    color: white;
    box-shadow: 4px 4px 4px #ef6958;
}



.home-counter{
    height: 150px;
    width: 500px;
    margin-top: 7%;
    margin-left: 33%;
}

.home-update{
    float: left;
    height: 125px;
    width: 125px;
    margin-left: 87px;
    margin-top: 25px;
    background: #ef6958;
    color: white;
    box-shadow: 4px 4px 4px #ef6958;
}